<ion-header>
  <ion-toolbar>
    <ion-title>Acceso Estudiantes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-selection"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/user-login-student.png" alt="Student Login">
  
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="username" 
        name="username"
        required
        autocomplete="username">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="password" 
        name="password"
        required
        autocomplete="current-password">
      </ion-input>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      class="ion-margin-top"
      [disabled]="!username || !password">
      Acceso
    </ion-button>
    
    <ion-button 
      expand="block" 
      (click)="resetPassword()" 
      fill="clear">
      Restablecer contraseña
    </ion-button>
  </form>
</ion-content>